#IntelliJ IDEA
.idea/codeStyleSettings.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/kotlinc.xml
.idea/uiDesigner.xml
.idea/workspace.xml
build/
out/
release/
src/META-INF/

#Eclipse
bin/

#NetBeans
build/
dist/
history
manifest.mf
nbproject/genfiles.properties
nbproject/private/

#OS
.DS_Store
thumbs.db

#LibreOffice
.~lock.*

#Generic
*.bak
manifests/
TEMP
TODO
